<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="de">

  <head>
    <title>Helloworld</title>
    <!-- css -->

    <link href="/assets/stylesheets/reset.css?1320937057" media="screen" rel="stylesheet" type="text/css" />
	<link href="/assets/stylesheets/main.css?1320937057" media="screen" rel="stylesheet" type="text/css" />
	<link href="/assets/stylesheets/dropdown.css?1320937057" media="screen" rel="stylesheet" type="text/css" />
    <!-- override for IE-->

    <!--[if IE 6]>
	<style type="text/css" media="all">@import "/stylesheets/ie6.css";</style>
  	<![endif]-->

    <!--[if IE 7]>
    <style type="text/css" media="all">@import "/stylesheets/ie7.css";</style>
    <![endif]-->

    <script src="/assets/javascripts/jquery-1.4.3.min.js?1320937057" type="text/javascript"></script>
	<script src="/assets/javascripts/rails.js?1320937057" type="text/javascript"></script>
	<script src="/assets/javascripts/application.js?1320937057" type="text/javascript"></script>
	<script src="/assets/javascripts/application.js?1320937057" type="text/javascript"></script>
  </head>
  <body>
    <a name="tothetop"></a>
    <div id="main">
		
		<div id="header">

		  <div id="logo">
		    <a href="http://helloworld.innoq.com/"><img alt="HelloWorld" src="/assets/images/logo.png?1320937057" /></a>
		  </div>
		  <!-- /logo -->

		  <div id="claim">
		    <img alt="The demo community by innoQ" src="/assets/images/claim.png?1320937057" />
		  </div>
		  <!-- /logo -->

		  <div id="meta">
		    <ul>
		        <li><a href="/auth/logout">Logout</a></li>
		        <li><a href="">Imprint</a></li>
		        <li><a href="">About</a></li>
		      </ul>
		    </div>
		    <!-- /meta -->

		    <div id="search">
		        <form accept-charset="UTF-8" action="http://helloworld.innoq.com/search" class="search" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
		          <ul>
		            <li>
		              <input type="search" name="q" class="search_term" value="" placeholder="Enter your search term here" />
		            </li>
		            <li class="submit_search"><input name="commit" type="submit" value="Search" /></li>
		          </ul>
		</form>    </div>
		    <!-- /search -->

		    <ul id="menu">
		      <li><a href="/" class="first">Dashboard</a></li>
		      <li><a href="/statuses">World status feed</a></li>
		      <li><a href="/contacts">Contacts</a></li>
		      <li><a href="/profiles/36/private">Profile</a></li>
		      <li><a href="/home/about" class="last">About</a></li>
		    </ul>
		    <!-- /menu -->


		  </div>
		  <!-- /header -->
		
      <div id="content-holder">

      